

<%= form_with model: @post, url: posts_path do |form| %>
<p>
  <%= form.label :caption %><br>
  <%= form.text_field :caption %>
</p>    
<p>
  <%= form.label :image %><br>
  <%= form.file_field :image %>
</p>
<%= form.submit %>
<% end %>